.navbar{
  margin-top: 0.5%;
  text-align: center;
}
.list{
  text-align: center;
  width : max-content;
  margin-left: 30%;
  margin-right: auto;
  height: max-content;
  justify-content: center;
}
.list ul{
  text-align: left;
}
.verticalLine{
  width : 1px;
  height: 50%;
  border: 2px ridge silver;
  margin-left: 5px;
  margin-right: 5px;
  background-color:silver;
  display: inline;
}
@media (max-width: 768px){
  .navbar{
    margin-top: 2%;
  }
  .list{
    margin-left: 10%;
  }
}